.header {
    display: flex;
    border-bottom: 5px solid rgba(0, 0, 0, .075);
    position: relative;
    height: 12.5vh;
    align-items: center;
    overflow: hidden;

    &__h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 50%;
        text-align: center;
        font-size: 7.5rem;
        height: 100%;;
        color: rgb(21, 67, 96);
        border-right: 2.5px solid rgba(0, 0, 0, .075);
    }

    &__scan-section {
        font-size: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 100%;
        color: rgb(21, 67, 96);
        border-left: 2.5px solid rgba(0, 0, 0, .075);
    }

    &__scan-btn {
        border-radius: 100%;
        width: 9rem;
        height: 9rem;
        border: 0;
        background: rgb(243, 142, 32);
        color: white;
        font-size: 2.75rem;
        box-shadow: 0 .25rem 1.25rem black;
        outline: none;
        cursor: pointer;

        &:hover {
            background: white;

            color: black;
        }

        &:active {
            border: 1px solid rgb(243, 142, 32);
            box-shadow: none;
        }
    }
}