*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'PT Serif', serif; }

body {
  box-sizing: border-box; }

.even:hover,
.odd:hover {
  background: rgba(243, 142, 32, 0.15);
  transform: scale(1.025); }

.even {
  background: rgba(21, 67, 96, 0.15); }

.app__info-parent {
  display: flex; }

.app__data-display {
  width: 50vw;
  height: 85vh;
  border-right: 2.5px solid rgba(0, 0, 0, 0.075); }

.header {
  display: flex;
  border-bottom: 5px solid rgba(0, 0, 0, 0.075);
  position: relative;
  height: 12.5vh;
  align-items: center;
  overflow: hidden; }
  .header__h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-size: 6rem;
    height: 100%;
    color: #154360;
    border-right: 2.5px solid rgba(0, 0, 0, 0.075); }
    @media only screen and (min-width: 112.5em) {
      .header__h1 {
        font-size: 7.5rem; } }
  .header__scan-section {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #154360;
    border-left: 2.5px solid rgba(0, 0, 0, 0.075); }
    @media only screen and (min-width: 112.5em) {
      .header__scan-section {
        font-size: 3rem; } }
  .header__scan-btn {
    border-radius: 100%;
    width: 7.5rem;
    height: 7.5rem;
    border: 0;
    background: #f38e20;
    color: white;
    font-size: 2.75rem;
    box-shadow: 0 .25rem 1.25rem black;
    outline: none;
    cursor: pointer; }
    .header__scan-btn:hover {
      background: white;
      color: black; }
    .header__scan-btn:active {
      border: 1px solid #f38e20;
      box-shadow: none; }
    @media only screen and (min-width: 112.5em) {
      .header__scan-btn {
        width: 9rem;
        height: 9rem;
        font-size: 3rem; } }

.summary-list {
  width: 50vw;
  border-left: 2.5px solid rgba(0, 0, 0, 0.075);
  overflow-y: scroll;
  max-height: 85vh; }
  .summary-list__h2 {
    font-size: 4rem;
    width: fit-content;
    margin: 0 auto .5rem auto; }
  .summary-list__table {
    text-align: center;
    width: 95%;
    margin: auto; }
    .summary-list__table > * th {
      font-size: 3rem;
      width: 20%; }
    .summary-list__table > * td {
      text-align: left;
      font-size: 2.5rem;
      max-width: 20ch;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 .25rem; }
    .summary-list__table > * .data-section__td {
      text-align: center; }
  .summary-list__list-item {
    cursor: pointer;
    transition: .05s;
    padding: .25rem; }

.chart-section {
  height: 65%;
  margin-bottom: 1rem; }
  .chart-section--summary {
    height: 100%; }
  .chart-section__chart-container {
    display: inline-block;
    width: 50%;
    height: 50%; }
  .chart-section__h2 {
    margin: 0 auto;
    padding: 0;
    flex-basis: 100%;
    text-align: center;
    font-size: 4rem;
    width: fit-content; }

.hidden {
  display: none; }

.data-section {
  max-height: 36%;
  overflow-y: scroll;
  display: block;
  border-top: 5px solid rgba(0, 0, 0, 0.075);
  position: relative; }
  .data-section__expand-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    font-size: 2rem;
    padding: .55rem 1rem;
    background: #154360;
    color: white;
    border: 0;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0 .5rem 1.5rem black; }
    .data-section__expand-btn:hover {
      background: white;
      color: black;
      border: 1px solid black; }
    .data-section__expand-btn:active {
      box-shadow: none; }
  .data-section--active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background: white;
    z-index: 999;
    overflow-y: scroll; }
  .data-section__modal-bg {
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .data-section__h2 {
    font-size: 4rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto .5rem auto; }
  .data-section__td--url {
    width: 75%; }

.false-pos {
  background: lightgreen; }

.sign-in {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e3c72;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .sign-in__banner {
    height: 8vh;
    width: 45vw;
    position: absolute;
    top: 10%; }
  .sign-in__h1 {
    font-size: 7rem;
    z-index: 999;
    position: absolute;
    top: 22.5%;
    color: whitesmoke; }
  .sign-in__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .sign-in__form > input {
      border: 1px solid gray;
      font-size: 3rem;
      padding: 1rem; }
    .sign-in__form > button {
      font-size: 3rem;
      margin: auto 1rem;
      padding: 1rem;
      background: #f38e20;
      color: white;
      border: 1px solid transparent;
      cursor: pointer; }
      .sign-in__form > button:hover {
        background: white;
        color: black;
        border: 1px solid black; }
